<!DOCTYPE html> 
<html> 
 <head> 
 	<meta name="viewport" content="width=device-width" /> 
 	<title>Admin/Register</title> 
 </head> 
 <body> 
 	<form asp-action="CreateRole" method="post">
        <label for="name">RoleName</label>
        <input type="text" name="RoleName" required />
 		<button type="submit">Create Role</button> 
 	</form> 
 </body>
 </html>