@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h2>Start/Two</h2>

        <a href="/Start/One"> One </a>
        <a href="/Start/Index"> Index </a>
        <a href="/Start/Three"> Three</a>
    </body>
    </html>
}
